*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    width: 600px;
    height: 500px;
    border: 1px solid red;
    margin: 30px auto;

}

.over{
    width: 300px;
    height: 100px;
    border: 1px solid  rgb(30, 173, 90);
    background-color:rgb(30, 173, 90) ;
    transform: rotate(90deg);
    margin-top:100px;
}

.testo{
    width: 200px;
    height: 40px;
    border: 1px solid rgb(64, 19, 116);
    background-color: rgb(51, 90, 177);
    transform: rotate(90deg);
    margin-left: 76px;
    margin-top: -70px;
    border-radius: 10px;
}